
.main-choose-wrapper{
    margin-top: 10rem;
    position: relative;
    height: 1000px;
}

.choose-header{
    margin-top: 9rem;
    text-align: center;
 }
 
.choose-header span{
    background: linear-gradient(90deg, #00229E 0%, #6E1299 47.92%, #FE0094 100%);
   padding: 0.3rem 4.5rem;
   clip-path: polygon(100% 0,93% 50%,100% 99%, 0% 100%,7% 50%,0% 0%);
}

.choose-header>p{
    margin: 3rem 0;
    margin-bottom: 5rem;
}

.choose-wrapper{
    height: 100%;
    width: 100%;
    border-radius: 30px 0 0 30px;
    width: 95%;
    position: absolute;
    right: 0;
    z-index: 1;
    background: #0c0e2b;
    padding-top: 5rem;
}

.aspostrophe-u{
    object-fit: cover;
    width: auto;
    height: 170px;
    position: absolute;
    right: 4%;
    top: 0%;
}
.aspostrophe-d{
    object-fit: cover;
    width: auto;
    height: 170px;
    position: absolute;
    left:  4%;
    bottom: 0%;
}

.choose-top{
    height: 52px;
    width: 52px;
    position: absolute;
    top: -5.3%;
    right: 0%;
    z-index: 2;
    border-bottom-right-radius: 30px;
    background: #1e143b;
}

.choose-bottom{
    height: 52px;
    width: 52px;
    position: absolute;
    bottom: -5.2%;
    right: 0%;
    z-index: 2;
    border-top-right-radius: 30px;
    background: #1e143b;
}

.choose-wrapper::before{
    display: block;
    position: absolute;
    right: -0.5%;
    top: -4%;
    content: '';
    width: 50px;
    height: 50px;
    background: #0c0e2b;
}
.choose-wrapper::after{
    display: block;
    position: absolute;
    right: -0.5%;
    bottom:  -4%;
    content: '';
    width: 50px;
    height: 50px;
    background: #0c0e2b;
}

.choose-content-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.reason{
    position: relative;
    width: 45%;
    padding: 2rem 0rem;
}

.content{
    display: flex;
    align-items: center;
    column-gap: 5rem;
    padding: 3rem;
    background-color: #1e143b;
    border-radius: 8px;
}

.reason::after{
    position: absolute;
    bottom: 2%;
    content: '';
    display: block;
    width: 0%;
    height: 4px;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
    background: linear-gradient(90deg, #00229E 0%, #6E1299 47.92%, #FE0094 100%);
}

.reason:hover::after{
    width: 100%;
}

.content i{
    font-size: 8rem;
    color: #FE0094;
}

@media (max-width:768px) {
    .aspostrophe-u,
    .aspostrophe-d{
        height: 120px;
    }
    .main-choose-wrapper {
        height: 1135px;
    }
    .choose-wrapper{
        width: 90%;
    }
    .choose-header h2{
        font-size: 4rem;
    }
    .choose-header>p{
        width: 80%;
        margin: 3rem auto;
    }
    .choose-content-wrapper{
        flex-direction: column;
        padding: 0 5rem;
    }
    .reason{
        width: 100%;
    }
    .content{
        padding: 2rem;
    }
    .content i {
        font-size: 5rem;
    }
    .content h3{
        font-size: 2.7rem;
    }
    .choose-top {
        top: -4.6%;
    }
    .choose-bottom {
      
        bottom: -4.65%;
    }
}

@media (max-width:450px) {
    .main-choose-wrapper {
        height: 1300px;
    }
    .aspostrophe-u, .aspostrophe-d {
        height: 100px;
    }
    .choose-wrapper{
        width: 95%;
    }
    .choose-header>p {
        width: 90%;
        margin-top: 1rem;
    }
    .choose-header h2 {
        font-size: 3rem;
    }
    .choose-content-wrapper {
        padding: 0 2rem;
    }
    .content i {
        font-size: 3.5rem;
    }
    .content h3 {
        font-size: 2.2rem;
        line-height: 30px;
        margin-top: -4rem;
        padding-left: 7rem;
    }
    .content{
        flex-wrap: wrap;
        position: relative;
    }
    .content p {
        margin-top: 1.3rem;
    }
    .choose-top {
        top: -4%;
    }
    .choose-wrapper::before {
        top: -3%;
    }
    .choose-bottom {
        bottom: -3.9%;
    }
    .choose-wrapper::after{
        bottom: -3%;
    }
}