
.main-choose-wrapper{
    margin-top: 10rem;
    position: relative;
    height: 1000px;
}

.choose-header{
    margin-top: 9rem;
    text-align: center;
 }
 
.choose-header span{
    background: linear-gradient(90deg, #00229E 0%, #6E1299 47.92%, #FE0094 100%);
   padding: 0.3rem 4.5rem;
   clip-path: polygon(100% 0,93% 50%,100% 99%, 0% 100%,7% 50%,0% 0%);
}

.choose-header>p{
    margin: 3rem 0;
    margin-bottom: 5rem;
}

.choose-wrapper{
    height: 100%;
    width: 100%;
    border-radius: 30px 0 0 30px;
    width: 95%;
    position: absolute;
    right: 0;
    z-index: 1;
    background: #0c0e2b;
    padding-top: 5rem;
}

.aspostrophe-u{
    object-fit: cover;
    width: auto;
    height: 170px;
    position: absolute;
    right: 4%;
    top: 0%;
}
.aspostrophe-d{
    object-fit: cover;
    width: auto;
    height: 170px;
    position: absolute;
    left:  4%;
    bottom: 0%;
}

.choose-top{
    height: 52px;
    width: 52px;
    position: absolute;
    top: -5.3%;
    right: 0%;
    z-index: 2;
    border-bottom-right-radius: 30px;
    background: #1e143b;
}

.choose-bottom{
    height: 52px;
    width: 52px;
    position: absolute;
    bottom: -5.2%;
    right: 0%;
    z-index: 2;
    border-top-right-radius: 30px;
    background: #1e143b;
}

.choose-wrapper::before{
    display: block;
    position: absolute;
    right: -0.5%;
    top: -4%;
    content: '';
    width: 50px;
    height: 50px;
    background: #0c0e2b;
}
.choose-wrapper::after{
    display: block;
    position: absolute;
    right: -0.5%;
    bottom:  -4%;
    content: '';
    width: 50px;
    height: 50px;
    background: #0c0e2b;
}

.choose-content-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.reason{
    position: relative;
    width: 45%;
    padding: 2rem 0rem;
}

.content{
    display: flex;
    align-items: center;
    column-gap: 5rem;
    padding: 3rem;
    background-color: #1e143b;
    border-radius: 8px;
}

.reason::after{
    position: absolute;
    bottom: 2%;
    content: '';
    display: block;
    width: 0%;
    height: 4px;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
    background: linear-gradient(90deg, #00229E 0%, #6E1299 47.92%, #FE0094 100%);
}

.reason:hover::after{
    width: 100%;
}

.content i{
    font-size: 8rem;
    color: #FE0094;
}