.main_contact_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e143b;
    border-radius: 8px;
    margin-top: 2rem;
    padding: 8rem 6rem 8rem 6rem;
    position: relative;
    overflow: hidden;
    margin-bottom: 6rem;
}

.contact__cognitech {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    justify-content: center;
    align-items: flex-start;
    z-index: 9999;
}

.main_contact_wrapper::before {
    content: "";
    display: block;
    width: 200px;
    height: 200px;
    transform: rotate(45deg);
    background-color: rgba(241, 7, 215, 0.3);
    position: absolute;
    left: -8%;
    top: 10%;
    z-index: 1;
}

.main_contact_wrapper::after {
    content: "";
    display: block;
    width: 300px;
    height: 300px;
    transform: rotate(45deg);
    background-color: rgba(241, 7, 215, 0.1);
    position: absolute;
    right: -13.5%;
    top: 20%;
    z-index: 1;
}


.main_contact_wrapper .contact_style_left {
    width: 200px;
    height: 200px;
    transform: rotate(45deg);
    background-color: rgba(241, 7, 215, 0.1);
    position: absolute;
    left: -8%;
    top: 30%;
    z-index: 1;
}

.contact__cognitech::before {
    content: '';
    display: block;
    position: absolute;
    left: 7%;
    top: 15%;
    width: 20px;
    height: 20px;
    border: 10px solid #F603E0;
    z-index: 1;
    animation: moveUpDownCogleft 2s ease-in-out infinite;
}

@keyframes moveUpDownCogleft { 
    0% {
        top: 15%;
    }

    50% {
        top: 25%;
    }

    100% {
        top: 15%;
    }
}
.contact__cognitech::after {
    content: '';
    display: block;
    position: absolute;
    right: 7%;
    bottom: 15%; 
    width: 20px;
    height: 20px;
    border: 10px solid #fff;
    z-index: 1;
    animation: moveUpDownCogBottom 2s ease-in-out infinite;
}

@keyframes moveUpDownCogBottom {
    0% {
        bottom: 15%;
    }

    50% {
        bottom: 25%;
    }

    100% {
        bottom: 15%; 
    }
}




.main_contact_wrapper .contact_style_right {
    width: 250px;
    height: 250px;
    transform: rotate(45deg);
    background-color: rgba(241, 7, 215, 0.3);
    position: absolute;
    right: -10%;
    top: 50%;
    z-index: 1;
}

.contact__cognitech h3 {
    color: #F107D7;
    font-size: 3.5rem;
}

.contact__cognitech input[type="text"],
.contact__cognitech input[type="email"],
.contact__cognitech input[type="tel"],
.contact__cognitech textarea {
    padding: 1rem;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    border-radius: 6px;
    border: 2px solid #fff;
    background: rgba(0, 0, 0, .025);
    color: #fff;
    outline: none;
    box-shadow: none;
    transition: all 0.4s ease-in-out;
}

.contact__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 3rem;
    width: 100%;
}

.contact__info input {
    width: 30%;
    height: 50px;
}

.contact__cognitech textarea {
    height: 220px;
    width: 100%;
}

.contact__cognitech input[type="text"]:focus:invalid,
.contact__cognitech input[type="email"]:focus:invalid,
.contact__rentaly input[type="tel"]:focus:invalid,
.contact__cognitech textarea:focus:invalid {
    border: 2px solid rgba(254, 0, 148, 0.3);
}

.contact__cognitech input[type="text"]:focus:valid,
.contact__cognitech input[type="email"]:focus:valid,
.contact__cognitech input[type="tel"]:focus:valid,
.contact__cognitech textarea:focus:valid {
    border: 2px solid rgba(254, 0, 148, 0.3);
    background: rgba(254, 0, 148, 0.1);
    box-shadow: 0px 2px 15px rgba(254, 0, 148, 0.3);
}