
/* ==================== Navbar CSS =================== */
.nav__bar {
    display: flex;
    align-items: center;
    background-color: #0c0e2b;
    margin-top: 2rem !important; 
}

.nav__logo {
    display: flex;
    align-items: center;
    border-top-left-radius:8px;
    border-bottom-left-radius: 8px;
    height: 13vh;
    padding-left: 4rem;
    width: 30%;
    clip-path: polygon(0 0, 90% 0, 70% 100%, 0% 100%);
    background: #1e143b;
}

.nav__logo img{                 /* Website Logo   */
    width: 180px;
    object-fit: cover;
    cursor: pointer;    
}

.nav__item {
    clip-path: polygon(7.5% 0, 100% 0, 100% 100%, 0% 100%);
    width: 80%;
    border-top-right-radius:8px;
    border-bottom-right-radius: 8px;
    display: flex;
    align-items: center;
    height: 13vh;
    background: #1e143b;
    justify-content: space-around;
    margin-left: -9rem;
    padding-left: 8rem;
}

.nav__links{
    display: flex;
    align-items: center;
    gap: 10rem;
    height: 100%;
}

.nav-link {
    font-size: 1.8rem;
    color: #fff;
    letter-spacing: 1px;
}



/* .button-link{
    
    color: #fff;
} */



/* 
.button{
    display: flex;
    width: 150px;
    height: 40px;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    font-size: 15px;
    position: relative;
    transition: all 0.3s ease;
    justify-content: center;
    align-items: center;  
    z-index: 99;  
}
.button span {
    transition: all 0.3s ease;
    font-size: 12px;
}
.button:hover {
    color: #fff;
    scale: 1.1;
}
.button:hover span {
    transform: translateX(5px); 
.button-container::before {
    content: '';
    position: absolute;
    width: 150px;
    height: 40px;
    top: 28%;
    left: -8%;
    background-color: aqua;
    z-index: 9;
    transition: all 0.3s ease;
    opacity: 1;
}
.button-container:hover::before {
   
    scale: 1.09;
    top: 2%;
    left: 0.5%;
    width: 150px;
    height: 40px;
    opacity: 1;
} */
