*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  background: #27272c;
}

a{
  text-decoration: none;
}

a:hover{
  color: none;
}

li {
  list-style: none;
}